.book_description {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 80vh;
  background-color: beige;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr 6fr;
  grid-template-areas:
    'image _'
    'image categories'
    'image title'
    'image authors'
    'image description';
}

.book_description h3 {
  font-size: max(2.5vw, 16px);
  font-weight: 400;
}
.book_description h2 {
  font-size: max(3vw, 18px);
}

#description_image {
  grid-area: image;
  max-width: 400px;
  width: 90%;
  height: 70%;
  object-fit: contain;
  margin: 50px auto;
}

#description_categories {
  grid-area: categories;
  text-decoration: underline;
}

#description_title {
  grid-area: title;
}

#description_authors {
  grid-area: authors;
}

#description_container {
  grid-area: description;
  width: 100%;
  max-height: 80%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

#description_description {
  font-size: max(2vw, 14px);
}

@media (max-width: 540px) {
  .book_description {
    height: 65vh;
  }
  #description_image {
    margin: 0px auto;
  }
}
