.counter {
  color: blue;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

.content {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px;
  justify-content: center;
}

@media (max-width: 1170px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 840px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 570px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.card {
  margin: 20px auto;
  width: 252px;
  background-color: beige;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
}

.card img {
  height: 55%;
  margin: 10px auto;
}

.card h2 {
  margin: 5px;
  font-size: 100%;
  font-weight: bold;
}
.card h3 {
  margin: 5px;
  font-size: 100%;
  font-weight: 400;
}

.load {
  font-size: 50px;
  margin-bottom: 40px;
  border-radius: 20px;
  width: 260px;
  height: 80px;
  color: white;
  background-color: darkslategrey;
  cursor: pointer;
}

.book_description {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 85%;
  background-color: grey;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
  grid-template-areas:
    'image _'
    'image categories'
    'image title'
    'image authors'
    'image description';
}

#description_image {
  grid-area: image;
  max-width: 400px;
  width: 90%;
  height: 70%;
  object-fit: contain;
  margin: 50px auto;
}

@media (max-width: 540px) {
  #description_image {
    margin: 0px auto;
  }
}

#description_categories {
  grid-area: categories;
}

#description_title {
  grid-area: title;
}

#description_authors {
  grid-area: authors;
}

#description_description {
  grid-area: description;
  font-size: 90%;
  overflow: scroll;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
