.header {
  color: white;
  background-image: url('../images/background.jpg');
  margin: 0;
  height: 20vh;
  width: 100%;
}

.search_input {
  font-size: 20px;
}

.search_icon {
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.submit_button {
  margin-left: 10px;
}

.header_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.header_row h2,
select {
  margin: 10px;
}

.header_row h2,
h1 {
  -webkit-text-stroke: 1.5px black;
}

.input_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 540px) {
  .header {
    height: 35vh;
  }
  .header_row {
    display: contents;
  }
  .header_row select {
    height: 30px;
  }
}
